<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Email list</title>
    </head>
    <body>
        <div id="app">
            <main>
                <h1>Ten random email adresses</h1>

                <ul v-if="emailList.length === 10">
                    <li v-for="email in emailList">{{ email }}</li>
                </ul>

                <div v-else>Aspetta il popolamento della lista</div>
            </main>
        </div>

        <!-- vue v3 cdn -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- axios cdn -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- custom js -->
        <script type="text/javascript" src="./js/script.js"></script>
    </body>
</html>